/** 添加网格背景 */
.single {
    .single-subtitle {
      color: #57606a;
    }
  
    .content {
      background-image: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
      background-size: 20px 20px;
      background-position: center;
    
      [data-theme='dark'] & {
        background-image: linear-gradient(90deg, rgba(195, 245, 215, .04) 3%, transparent 0), linear-gradient(1turn, rgba(195, 245, 215, .04) 3%, transparent 0);
      }
    }
  }
/* 设置git提交贪吃蛇 */
.home-profile {
    background-image: url(https://raw.githubusercontent.com/6am600/6am600.github.io/output/github-contribution-grid-snake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* 设置头像大小 */
.home .home-profile .home-avatar img  {
    width: 150px;
    height: 150px;
}

/* 待办事项页面 */
/* checklist.css */
.checklist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist li.uncompleted::before {
  content: "[❌] ";
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

.checklist li.completed::before {
  content: "[✔] ";
  color: #008000;
}

.checklist li.completed {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  color: #f7797d;
  padding: 5px 10px;
  border-radius: 5px;
}

.checklist h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5em;
}