/** 添加网格背景 */
.single {
    .single-subtitle {
      color: #57606a;
    }
  
    .content {
      background-image: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
      background-size: 20px 20px;
      background-position: center;
    
      [data-theme='dark'] & {
        background-image: linear-gradient(90deg, rgba(195, 245, 215, .04) 3%, transparent 0), linear-gradient(1turn, rgba(195, 245, 215, .04) 3%, transparent 0);
      }
    }
  }
/* 设置git提交贪吃蛇 */
.home-profile {
    background-image: url(https://raw.githubusercontent.com/6am600/6am600.github.io/output/github-contribution-grid-snake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* 设置头像大小 */
.home .home-profile .home-avatar img  {
    width: 150px;
    height: 150px;
}

/* 待办事项页面 */
/* checklist.css */
.checklist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist li.uncompleted::before {
  content: "[❌] ";
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

.checklist li.completed::before {
  content: "[🎷] ";
  color: #008000;
}

.checklist li.completed {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  color: #f7797d;
  padding: 5px 10px;
  border-radius: 5px;
}

.checklist h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5em;
}
/* 关于我页面 */
/* 全局样式 */
#about-page {
  padding-top: 1rem;
}

.author-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 16px 0;
}

.author-tag-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .author-tag-left {
    display: none;
  }
}

.author-tag-left .author-tag:first-child,
.author-tag-left .author-tag:last-child {
  margin-right: -16px;
}

.author-tag-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .author-tag-right {
    display: none;
  }
}

.author-tag-right .author-tag:first-child,
.author-tag-right .author-tag:last-child {
  margin-left: -16px;
}

.author-tag {
  transform: translate(0, -4px);
  padding: 1px 8px;
  background: #fff;
  border: 1px solid #e3e8f7;
  border-radius: 40px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  animation: floating 6s ease-in-out 0s infinite normal none running;
}

.author-tag:nth-child(1) {
  animation-delay: 0s;
}

.author-tag:nth-child(2) {
  animation-delay: 0.6s;
}

.author-tag:nth-child(3) {
  animation-delay: 1.2s;
}

.author-tag:nth-child(4) {
  animation-delay: 1.8s;
}

.author-img {
  margin: 0 30px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: relative;
  background: #f7f7f9;
  user-select: none;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .author-img {
    width: 120px;
    height: 120px;
  }
}

.author-img img {
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
}

@media (max-width: 768px) {
  .author-img img {
    width: 120px;
    height: 120px;
  }
}

.author-img:hover {
  transform: scale(1.1);
}

.author-img:before {
  content: '';
  transition: 1s;
  width: 30px;
  height: 30px;
  background: #57bd6a;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #f7f9fe;
  bottom: 5px;
  right: 10px;
  z-index: 2;
}

@media (max-width: 768px) {
  .author-img:before {
    bottom: -5px;
    right: -5px;
  }
}

.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.author-tag-description {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -4px);
  padding: 8px 8px;
  background: #fff;
  border: 1px solid #e3e8f7;
  border-radius: 40px;
  margin-top: 6px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  animation: floating 6s ease-in-out 0s infinite normal none running;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* 网格容器样式 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* 方块样式 */
.about-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.about-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-box .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}