/* 默认为桌面端的两列瀑布流布局 */
.essay {
  width: 85% !important;
}

.essay-grid {
  column-count: 3; /* 设置为三列 */
  column-gap: 20px; /* 设置列之间的间距 */
  margin: 20px 0;
}

.essay-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: border-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* 在每个item之间添加底部间距 */
  break-inside: avoid; /* 防止项目被拆分到两列中 */
}

.essay-item:hover {
  border-color: #007bff;
}

.essay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.essay-username {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

.essay-datetime {
  font-size: 0.9em;
  color: #888;
}

.essay-content {
  font-size: 1em;
  color: #555;
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.essay-images {
  position: relative;
  display: flex; /* 使用 Flexbox 布局 */
  flex-wrap: wrap; /* 允许换行 */
  gap: 10px; /* 图片之间的间距 */
  margin-top: 10px;
}

.essay-image {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(1); /* 默认大小 */
  cursor: pointer;
  max-width: 20%; /* 图片宽度自适应 */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 定义放大的状态 */
.enlarged {
  z-index: 1000;
  opacity: 1;
  position: fixed;
  top: 10%; /* 确保顶部留有10%的空间 */
  left: 50%;
  transform-origin: top center; /* 放大时从顶部中间开始 */
  transform: translateX(-50%) scale(1); /* 初始状态下居中 */
}

/* 背景遮罩层 */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}


/* 桌面端（大屏幕）下的三列布局 */
@media (min-width: 1024px) {
  .essay-grid {
    column-count: 3; /* 设置为三列 */
  }
}

/* 平板端（中等屏幕）下的两列布局 */
@media (min-width: 768px) and (max-width: 1023px) {
  .essay-grid {
    column-count: 2; /* 设置为两列 */
  }
}

/* 手机端（小屏幕）下的单列布局 */
@media (max-width: 767px) {
  .essay-grid {
    column-count: 1; /* 设置为一列 */
  }
}