.home-profile {
    background-image: url(https://raw.githubusercontent.com/6am600/6am600.github.io/output/github-contribution-grid-snake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}